.container{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
}
.container_form{
    width: 50%;
    height: 100%;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}
label{
    display:inline-block;
}
.fields{
    width: 100%;
    margin:1rem;
}
button{
    margin-top: 2rem;
}